<div class="orders">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">REF</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ks514ko</td>
        <td>Friday 10 October 2022 06:20:42</td>
        <td><a href="#">Edit</a></td>
      </tr>
      <tr>
        <td>MPdg66Lp</td>
        <td>Friday 10 October 2022 10:25:02</td>
        <td><a href="#">Edit</a></td>
      </tr>
      <tr>
        <td>PO59dfLop5</td>
        <td>Friday 10 October 2022 17:35:47</td>
        <td><a href="#">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
