<form [formGroup]="articleFormGroup">
  <div class="mb-3">
    <input
      type="text"
      placeholder="name"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <input
      type="number"
      placeholder="price"
      class="form-control"
      formControlName="price"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Picture</label>
    <input class="form-control" type="file" formControlName="picture" />
  </div>
  <button type="submit" (click)="onSaveArticle()" class="btn btn-primary">
    Submit
  </button>
</form>
